@font-face{
    font-family: Raleway;
    src: url(Raleway-SemiBold.ttf);
}

body{
    background-image: url("bank_background3.jpg");
    background-size: cover;
}
/* .jumbotron
{
    background-color: grey;
    opacity: 50%;
    height: 60px;
} */
#logo
{
    font-family: Raleway;
    font-weight: bolder;
    color:white;
    font-size: 50px;
    margin-left: 50px;
    border-right: 1px solid red;
    padding-right: 10px;
    text-decoration: none;
}
#help
{
    background-color:darkkhaki;
    border-radius: 12px;
    margin: 0 3px 7px 800px;

}
#help:hover
{
   background-color: burlywood;
   border-radius: 12px;
}
#helpInfo
{
   color: darkseagreen;
   font-family: Raleway;
   font-size: 16px;
   margin: 0 5px 0 0px;
}
#helpInfo:hover
{
    font-size: 18px;
}
#contactUs
{
    background-color:darkkhaki;
    border-radius: 12px;
    margin: 0 0px 5px 0px;
}
#contactUs:hover
{
   background-color: burlywood;
   border-radius: 12px;
}
#contactUsInfo
{
   color: darkseagreen;
   font-family: Raleway;
   font-size: 16px;
   margin: 0 10px 0 -2px;

}
#contactUsInfo:hover
{
    font-size: 18px;
}

#home
{
    font-family: Raleway;
    
}

#services
{
    font-family: Raleway;
    
}
#servicesInfo
{
    font-family: Raleway;
    background-color: peru;
    
}
#careers
{
    font-family: Raleway;
    
}
#careersInfo
{
    font-family: Raleway;
    background-color: peru;
    
}
#feedback
{
    font-family: Raleway;
    
}
#feedbackInfo
{
    font-family: Raleway;
    background-color: peru;
    
}
/* phishing alert */
#alertcol1
{
    text-align: justify;
   
    font-family: Raleway;
    font-size: 15px;
    color: whitesmoke;
}
.container-fluid h3{
    color: yellowgreen;
    animation: alert_Blink 1s infinite;
    animation-play-state: running;
}
@keyframes alert_Blink
{
    from
    {
        color: yellowgreen;
    }
    to
    {
        color: red;
    }
}

/* article area */
#article pre
{
    background: none;
    border: none;
    opacity: 100%;
}

#footer pre 
{
    background: none;
    border: none;
    margin-top: -120px;
    font-size: 16px;
    font-family: Raleway;
    
}
#footer pre a
{
    color: white;
    border-right: 1px solid red;
    padding-right: 5px;
}
#footer pre img
{
    height: 30px;
    margin-top: 0px;
    background: darkkhaki;
    border-radius: 150%;
}
#footer pre img:hover
{
    background-color: burlywood;
}


/* columns area */

.col-sm-8
{

    animation: mainBank 20s infinite;
    position: static;
}
@keyframes mainBank
{
    0%
    {
        background: url("HealthAssure.png");
        background-size: cover;
        height: 500px;
        width: 870px;
       
    }
    25%
    {
        background: url("OYO.png");
        background-size: cover;
        height: 500px;
        width: 870px;
       
       
    }
    50%
    {
        background: url("Shopping.png");
        background-size: cover;
        height: 500px;
        width: 870px;
       
    }
    75%
    {
        background: url("OYO.png");
        background-size: cover;
        height: 500px;
        width: 870px;

    }
    100%
    {
        background: url("HealthAssure.png");
        background-size: cover;
        height: 500px;
        width: 870px;
    }
}
.quickOptions
{
    color: yellow;

}
.quickOptions:hover
{
    color:#2A7C51;
    
}
marquee a{
    color:wheat;
}
marquee a:hover
{
    color: #2A7C51;
}



